.gallery{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap:16px;
  margin: 118px;

}

.gallery__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* Reduz para 2 colunas */
    grid-template-rows: auto; /* Ajusta automaticamente a altura das linhas */
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr; /* Reduz para 1 coluna */
    gap: 8px; /* Reduz o espaço entre as células */
  }

  .gallery__image {
    object-fit: cover; /* Imagens continuam adaptadas ao espaço */
  }
}
