.header__title{
  max-width: 720px;
  margin: 90px auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.header__subtitle{
  max-width: 720px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

}

.header__image{
  max-width: 983px;
  width: 100%;
  display:block;
  margin: 64px auto 0;

}



 @media screen and (max-width:768px){


     .header__title{
         max-width: 530px;
         font-size: 75px;
         line-height: 79px;
     }


 }

 @media screen and (max-width:544px) {

   .header__title {
     margin-top: 52px;
   }

 }

 @media screen and (max-width:320px){


     .header__title{
         max-width: 288px;
         margin-top: 50px;
         margin-bottom: 16px;
         font-size: 40px;
         line-height: 44px;
     }

     .header__subtitle{
         max-width: 288px;
         font-size: 16px;
         line-height: 20px;


     }

     .header__image{
         margin-top: 40px;
     }

 }