.intro{
  max-width: 830px;
  margin: 92px auto 0;
}

.intro__title{
  width: 100%;
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;

}

.intro__subtitle{
  max-width: 738px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

}

.intro__credit{
   max-width: 732px;
   width: 100%;
   font-size: 24px;
   font-weight: 400;
   line-height: 34px;
   text-align: right;
}

.intro__text{
  max-width: 722px;
  width: 100%;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;

}


 @media screen and (max-width:768px){

     .intro{
         max-width: 720px;
         margin: 90px auto 0;
     }

     .intro__title {
         max-width: 707px;
         font-size: 45px;
         line-height: 49px;
     }

 }

 @media screen and (max-width:320px){

     .intro{
         max-width: 288px;
         margin-top: 40px;
     }

     .intro__title {
         font-size: 32px;
         line-height: 35px;
     }

     .intro__subtitle{
         line-height: 30px;

     }


 }