.footer{
  margin:92px 0;

}

.footer__copyright{
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}


 @media screen and (max-width:320px){

     .footer{
         margin:92px 0;

     }

     .footer__copyright{
         line-height: 14px;
     }


 }