@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Inter', arial, sans-serif;
    color:white;
}

.body{
    background-color: #2A2C2F;
}

.page{
    max-width: 1280px;
    margin:0 auto;

}

.nav{
    display:flex;
    justify-content: center;

}

.nav__brand{
    display:flex;
    margin-top: 34px;
    flex-direction: column;
    align-items: center;
}

.nav__logo{
    max-width: 254px;
    width: 100%;

}

.lead__title{
    max-width: 720px;
    margin: 90px auto 32px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

.lead__subtitle{
    max-width: 720px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

}

.lead__image{
    max-width: 983px;
    width: 100%;
    display:block;
    margin: 64px auto 0;

}

.intro{
    max-width: 830px;
    margin: 92px auto 0;
}

.intro__title{
    width: 100%;
    margin-bottom: 40px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;

}

.intro__subtitle{
    max-width: 738px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;

}

.intro__credit{
     max-width: 732px;
     width: 100%;
     font-size: 24px;
     font-weight: 400;
     line-height: 34px;
     text-align: right;
}

.intro__text{
    max-width: 722px;
    width: 100%;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;

}

.footer{
    margin:92px 0;

}

.footer__copyright{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

@media screem and (max-width:1024px) {

  .nav__brand{
    margin-top: 32px;
  }



 .lead__title{
     max-width: 540px;
     font-size: 79px;
     line-height: 83px;
 }

 .intro{
     max-width: 726px;

 }

 .intro__title {
     max-width: 713px;
     font-size: 49px;
     line-height: 52px;
 }


}


@media screen and (max-width:768px){

    .nav__brand{
       margin-top: 30px;

    }


    .lead__title{
        max-width: 530px;
        font-size: 75px;
        line-height: 79px;
    }

    .intro{
        max-width: 720px;
        margin: 90px auto 0;
    }

    .intro__title {
        max-width: 707px;
        font-size: 45px;
        line-height: 49px;
    }


}

@media screen and (max-width:544px) {

  .lead__title {
    margin-top: 52px;
  }

}

@media screen and (max-width:320px){

    .nav__logo{
        max-width: 188px;

    }

    .lead__title{
        max-width: 288px;
        margin-top: 50px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle{
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;


    }

    .lead__image{
        margin-top: 40px;
    }


    .intro{
        max-width: 288px;
        margin-top: 40px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .intro__subtitle{
        line-height: 30px;

    }

    .footer{
        margin:92px 0;

    }

    .footer__copyright{
        line-height: 14px;
    }


}